---
import PageHeader from "../../../components/PageHeader.astro";
import Page from "../../../layouts/Page.astro";
import garantiesBackground from "../../../assets/images/garanties_background.jpg";
import garantiesBackgroundMobile from "../../../assets/images/garanties_background_mobile.jpg";

import type { Props } from "astro";
import { PAGE_VOS_GARANTIES } from "../../../contracts";
import type { ContractInfo } from "../../../typings";
import Umbrella from "../../../components/SVG/Umbrella.astro";
import Section from "../../../components/Section.astro";
import TabMenu, { TabItem } from "../../../components/TabMenu";
import SectionTitle from "../../../components/SectionTitle.astro";
import Paragraph from "../../../components/Paragraph.astro";
import { Picture } from "@astrojs/image/components";
import girlLook from "../../../assets/images/girl_look.png";
import girlLookTabs from "../../../assets/images/girl_look_tabs.png";
import girlManBmw from "../../../assets/images/girl_man_bmw.png";
import { resolveStaticPathsForPage } from "../../../utils";

export const getStaticPaths = () => resolveStaticPathsForPage(PAGE_VOS_GARANTIES)


interface AvantagesProps extends Props {
    contract: ContractInfo
}

const { contract } = Astro.props as AvantagesProps;

const tabItems: TabItem[] = [
    { title: "Garantie valeur d'achat", key: "GVA" },
    { title: "Garantie perte financière", key: "GPF" },
]

if (contract.name === "LOA" || contract.name === "PassLease LOA") {
    tabItems.push({
        title: "Protection personnelle",
        key: "GP"
    })
}

if (contract.name === "Crédit" || contract.name === "Crédit Ballon") {
    tabItems.push({
        title: "Protection personnelle",
        key: "GP"
    })
}

---

<Page title="Vos garanties" contract={contract} page={PAGE_VOS_GARANTIES}>
    <PageHeader
        slot="header"
        contract={contract}
        currentUrl={`/contrat/${contract.path}/vos-garanties`}
        imageSrc={garantiesBackground}
        mobileImageSrc={garantiesBackgroundMobile}
        imageAlt="Vos garanties"
        imagePosition="top"
        title={contract.cosyName}
        subTitle="Vos garanties"
        menuUrl={`/contrat/${contract.path}`}
    >
        <Umbrella slot="icon" class="w-8 h-auto" />
    </PageHeader>
        <TabMenu
            client:visible
            items={tabItems}
            initialKey="GVA"
        >
                <div slot="GVA" class="w-full">
                    <Section noBorder>
                        <div class="flex flex-col md:flex-row items-stretch space-y-8 md:space-x-20 md:space-y-0">
                            <div class="flex-1 flex flex-col">
                                <SectionTitle>{"Garantie valeur d'achat"}</SectionTitle>
                                <Paragraph>
                                        Pendant la durée de votre financement, en cas de vol ou de destruction totale de votre
                                        véhicule, la Garantie Valeur d'Achat (
                                        GVA) complète l'indemnisation de l'assureur principal
                                        jusqu'à la valeur d'achat de votre véhicule.
                                </Paragraph>
                                <div class="w-full flex items-center">
                                    <a href={`https://www.bmw.fr/content/dam/bmw/marketFR/bmw_fr/topics/offers-and-services/bmw-financial-services/PLV_BMW_GVA-GPF_2024.pdf`} class="py-3 px-8 w-auto border-2 border-black text-black text-lg font-semibold inline-flex flex-row items-center space-x-4  hover:text-white hover:bg-black transition-all">
                                        <span class="whitespace-nowrap">En savoir plus</span>
                                    </a>
                                </div>
                                <Paragraph last>
                                    <p class="text-xs mt-5 2xl:mt-auto max-w-2xl">
                                        L'ensemble des produits d'assurance et prestations d'assistance sont fournis par les assureurs et assisteur(s) dont les informations sont détaillées sur <a href="https://www.bmw.fr/fr/topics/offres-et-services/bmw-financial-services/asssurance-et-services/assurances_services.html" class="underline">Assurances & Services (bmw.fr)</a>
                                    </p>
                                </Paragraph>
                            </div>
                            <Picture
                                src={girlLook}
                                alt="femme dans une voiture bmw"
                                sizes="(min-width: 768px) 35vw, 100vw"
                                widths={[400, 500, 1378]}
                                aspectRatio="1378:802"
                            />
                        </div>
                    </Section>
                </div>
                <div slot="GPF" class="w-full">
                    <Section noBorder>
                        <div class="flex flex-col md:flex-row items-stretch space-y-8 md:space-x-20 md:space-y-0">
                            <div class="flex-1 flex flex-col">
                                <SectionTitle>{"Garantie valeur d'achat"}</SectionTitle>
                                <Paragraph>
                                        Pendant la durée de votre financement, en cas de vol ou de destruction totale de votre
                                        véhicule, la Garantie Valeur d'Achat (
                                        GVA) complète l'indemnisation de l'assureur principal
                                        jusqu'à la valeur d'achat de votre véhicule.
                                </Paragraph>
                                <div class="w-full flex items-center">
                                    <a href={`https://www.bmw.fr/content/dam/bmw/marketFR/bmw_fr/topics/offers-and-services/bmw-financial-services/PLV_BMW_GVA-GPF_2024.pdf`} class="py-3 px-8 w-auto border-2 border-black text-black text-lg font-semibold inline-flex flex-row items-center space-x-4  hover:text-white hover:bg-black transition-all">
                                        <span class="whitespace-nowrap">En savoir plus</span>
                                    </a>
                                </div>
                                <Paragraph last>
                                    <p class="text-xs mt-5 2xl:mt-auto max-w-2xl">
                                        L'ensemble des produits d'assurance et prestations d'assistance sont fournis par les assureurs et assisteur(s) dont les informations sont détaillées sur <a href="https://www.bmw.fr/fr/topics/offres-et-services/bmw-financial-services/asssurance-et-services/assurances_services.html" class="underline">Assurances & Services (bmw.fr)</a>
                                    </p>
                                </Paragraph>
                            </div>
                            <Picture
                                src={girlLook}
                                alt="femme dans une voiture bmw"
                                sizes="(min-width: 768px) 35vw, 100vw"
                                widths={[400, 500, 1378]}
                                aspectRatio="1378:802"
                            />
                        </div>
                    </Section>
                </div>
                <div slot="GP" class="w-full">
                    <Section noBorder>
                        <div class="flex flex-col md:flex-row items-stretch space-y-8 md:space-x-20 md:space-y-0">
                            <div class="flex-1 flex flex-col">
                                <SectionTitle>{"LA PROTECTION PERSONNELLE DI+."}</SectionTitle>
                                <Paragraph>
                                    Mettez vos proches à l'abri des aléas de la vie sur la durée du financement de votre BMW.
                                    L'assurance Protection Personnelle DI+ est une garantie décès-perte totale et irréversible
                                    d'autonomie qui protège vos intérêts et ceux de vos proches. Elle prendra en charge
                                    l'intégralité du solde de votre financement tout en permettant à vos proches de conserver
                                    la jouissance de votre BMW.
                                </Paragraph>
                                <div class="w-full flex items-center">
                                    <a href={`https://www.bmw.fr/content/dam/bmw/marketFR/bmw_fr/topics/offers-and-services/bmw-financial-services/PLV_BMW-DI+_2024.pdf`} class="py-3 px-8 w-auto border-2 border-black text-black text-lg font-semibold inline-flex flex-row items-center space-x-4  hover:text-white hover:bg-black transition-all">
                                        <span class="whitespace-nowrap">En savoir plus</span>
                                    </a>
                                </div>
                                <Paragraph last>
                                    <p class="text-xs mt-5 2xl:mt-auto max-w-2xl ">
                                        L'ensemble des produits d'assurance et prestations d'assistance sont fournis par les assureurs et assisteur(s) dont les informations sont détaillées sur <a href="https://www.bmw.fr/fr/topics/offres-et-services/bmw-financial-services/asssurance-et-services/assurances_services.html" class="underline">Assurances & Services (bmw.fr)</a>
                                    </p>
                                </Paragraph>
                            </div>
                            <Picture
                                src={girlManBmw}
                                alt="une femme et un homme qui sourient devant une voiture bmw"
                                sizes="(min-width: 768px) 35vw, 100vw"
                                widths={[400, 500, 1378]}
                                aspectRatio="1378:802"
                            />
                        </div>
                    </Section>
                </div>
        </TabMenu>
</Page>